/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #333;
    color: white;
    text-align: center;
}

.container {
    width: 100%;
    max-width: 600px; /* Adjust based on your preference for compactness */
    margin: 0 auto;
    padding: 10px;
    background-color: #424242;
    border-radius: 8px;
    box-sizing: border-box;
}

h1 {
    color: #61dafb;
    font-size: 1.2rem; /* Smaller for compactness */
    margin-bottom: 10px;
}

/* City navigation */
#cityContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

#cityContainer span {
    margin: 0 5px;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #50555c;
    transition: background-color 0.3s, color 0.3s;
    font-size: 0.8rem; /* Smaller font for compactness */
}

#cityContainer span:hover, #cityContainer span.activeCity {
    background-color: #61dafb;
    color: #282c34;
}

/* Status, actions, and loan options */
#status p, #actions button, #loanOptions button, #loanOptions p, #endGame h2, #endGame p {
    font-size: 0.8rem; /* Smaller font for a more compact display */
    margin: 5px 0;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
}

th, td {
    border: 1px solid #61dafb;
    padding: 5px;
    text-align: left;
    font-size: 0.8rem; /* Smaller font for table compactness */
}

input[type="number"], button {
    padding: 5px;
    margin: 2px 0; /* Smaller margins for compactness */
    font-size: 0.8rem;
    width: auto; /* Ensure inputs and buttons don't stretch */
}

/* Responsive Design */
@media (max-width: 600px) {
    .container, #cityContainer span, input[type="number"], button {
        width: 100%; /* Ensure full width on smaller screens for better touch targets */
    }
    
    #cityContainer {
        margin-bottom: 5px;
    }
    
    #drugsChart th, #drugsChart td {
        padding: 2px; /* Reduce padding in table cells for smaller screens */
    }
}
